@import url('https://fonts.googleapis.com/css?family=Roboto:700,600,500,400,300,200,100');

body{
    margin: 0;
    font-family: Roboto, sans-serif;
    --yellow: #E5A903; 
    --yellow-claro: #E8C445; 
    --blue: #0083B1; 
    --cinza: #666666;
    --cinza-claro: #E6E6E6;
    background-color: black
}

main{
    height: 800px;
    width: 480px;
}

main#menu{
    background-color: white;
}

main#lockerAbertoRetirar{
    background-color: var(--blue);
    color: white;
}


main#lockerAbertoGuardar{
    background-color: var(--yellow-claro);
    color: white;
}

main#concluirCadastro{
    background-color: white;
}


div.bg-page{
    background-repeat: no-repeat;
    
    background-image: url('images/background3.png');
    background-size: cover;
    height: 800px;
    width: 480px;
    filter: blur(8px);
    position: absolute;
    z-index: -1;
}

.header{
    height: 130px;
    width: 480px;


    display: flex;
    justify-content: center;

    align-items: center;
}

.logo-header{
    height: 60px;
}

.standby{
    height: 800px;
    width: 480px;

    background-color: black;

    display: flex;
    justify-content: center;

    align-items: center;
}

.logo-standby{
    height: 130px;
    transform: rotate(305deg);
}

.lower-text{
    color: white;
    position: absolute;
    bottom: 20px;
    
    width: 480px;
    display: flex;
    justify-content: center;

}

div.locker-number{
    width: 480px;
    display: flex;
    justify-content: right;
    position: relative;
}

p.locker-number{
    font-size: 400px;
    font-weight: 300;
    margin: 0;
    
}

p.blue{
    color: var(--blue);
}


p.yellow{
    color: var(--yellow);
}


p.yellow-claro{
    color: var(--yellow-claro);
}

p.light-grey{
    color: var(--cinza-claro);
}

p.name{
    margin: 20px;
    font-size: 20px;
    color: var(--cinza-claro);
    width: 480px;
    margin-bottom: 5px; 
    font-weight: 400;
}

h2.info-locker{
    font-size: 40px;
    font-weight: 400;
    margin: 20px;
    margin-top: 0px;
}

.corpo{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

div.card{
    height: 275px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div.msg{
    width: 480px;
    justify-content: left;
    display: flex;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

p.msg{
    margin: 22px;
    font-size: 15px;
    width: 480px;
    margin-bottom: 5px; 
    font-weight: 400;
    margin: 0px;
}

div.home-combo-buttons{
    width: 400px;
    height: 395px;
    display: flex;
  
    flex-direction: column;
}

div.left{
    width: 480px;
    display: flex;
    justify-content: left;
}

div.text-combo-buttons{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

div.combo-buttons{
    width: 400px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
}


img.card{
    width: 120px;
}

h2.card{
    font-size: 35px;
    font-weight: 300;
    margin: 15px;
}

p.card{
    margin:15px;
    font-size: 23px;
    justify-content: left;
    color: var(--cinza);
}

div.card-text{
    width: 250px;
  
}

div.card-img{
    width: 150px;
 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

button.btn-yellow{
    background-color: var(--yellow);
}

button.btn{
    border-radius: 15px;
    min-height: 20px;
    margin:10px;
    border:none;
    color: white;
    font-weight: 600;
    min-width: 100px;
}

button.btn-large{
    height: 100px;
    width: 280px;
    font-size: 25px;
    
}

button.btn-menu{
    height: 80px;
   width: 240px;
   margin: 25px;
   font-size: 28px;
}


button.btn-aux{
    height: 30px;
    width: 125px;
    font-size: 13px;
  
    background-color: var(--blue);
}

p.lower-text{
    font-size: 26px;

}

p{
    font-size: 26px;
    margin:32px;
}

div.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 480px;
}


p.italic{
    font-style: italic;
}

div.sub-title{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 40px;
}

p.sub-title{
    margin: 20px;
    font-size: 20px;
    color: var(--cinza);
    width: 480px;
    margin-bottom: 5px;
    margin-left: 20px;
}

div.button-left{
    width: 480px;
    display: flex;
    justify-content: left;
}

::placeholder { 
    color: black;
    opacity: 1; /* Firefox */
}

h2.sub-title{
    font-size: 45px;
    font-weight: 400;
    margin: 20px;
    margin-top: 0px;
    margin-left: 20px;
}


.input-form{
    height: 70px;
    width: 410px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}

fieldset{
    display: flex;
    justify-content: center;
    width: 480px;
    padding: 0px;
    border: none;
}

.btn-round{
    height: 46px;
    width: 46px;
    background-color: var(--blue);
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 23px;
    border:none;
    margin-left: 400px;
}

button.btn-deactivate{
    background-color: white;
    color: var(--cinza)
}

button.btn-form{
    margin-left: 30px;
}

div.back{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 480px;
    height: 110px ;
  
    bottom: 0px;
}



div.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: white;

}

@keyframes example {
    25% { width: 450}
    80$ {450: yellow;}
}